.DS_Store
**/.DS_Store

**/Outputs

a.out
**/.a.out
**/*.o

lex.yy.c
**/.lex.c

.vscode

**/*.tab.c
**/*.tab.h

Parser/test.*

**/lexer.cc
**/location.hh
**/parser.cc
**/parser.hh
**/position.hh
**/stack.hh
**/parser.output
**/main
**/parser.tab.cc
**/parser.tab.hh
**/test.ll