.DS_Store
**/.DS_Store

**/Outputs

a.out
**/.a.out
**/*.o

lex.yy.c
**/.lex.c

.vscode

**/*.tab.c
**/*.tab.h

Parser/test.*

Semantics/lexer.cc
Semantics/location.hh
Semantics/parser.cc
Semantics/parser.hh
Semantics/position.hh
Semantics/stack.hh
Semantics/parser.output
Semantics/main
Semantics/parser.tab.cc
Semantics/parser.tab.hh